#
# RMI4 configuration
#
config TOUCHSCREEN_SYNAPTIC_RMI4
	tristate "Synaptics RMI4 bus support"
	help
	  Say Y here if you want to support the Synaptics RMI4 bus.
	  If unsure, say N.
	  To compile this driver as a module, choose M here: the
	  module will be called synaptic_tp.ko.