/******************************************************************************/
/*                                                                            */
/* Copyright 2014 Broadcom Corporation                                        */
/*                                                                            */
/* Unless you and Broadcom execute a separate written software license        */
/* agreement governing use of this software, this software is licensed        */
/* to you under the terms of the GNU General Public License version 2         */
/* (the GPL), available at                                                    */
/*                                                                            */
/* http://www.broadcom.com/licenses/GPLv2.php                                 */
/*                                                                            */
/* with the following added to such license:                                  */
/*                                                                            */
/* As a special exception, the copyright holders of this software give        */
/* you permission to link this software with independent modules, and         */
/* to copy and distribute the resulting executable under terms of your        */
/* choice, provided that you also meet, for each linked independent           */
/* module, the terms and conditions of the license of that module.            */
/* An independent module is a module which is not derived from this           */
/* software. The special exception does not apply to any modifications        */
/* of the software.                                                           */
/*                                                                            */
/* Notwithstanding the above, under no circumstances may you combine          */
/* this software in any way with any other Broadcom software provided         */
/* under a license other than the GPL, without Broadcom's express             */
/* prior written consent.                                                     */
/*                                                                            */
/******************************************************************************/

#include "eos-board-common.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/{
	model = "AfyonLTE";
	compatible = "renesas,afyonlte", "renesas,r8a7373";

	chosen {
		bootargs = "console=ttySC0,115200 earlyprintk=sh-sci.0,115200";
		linux,sysrq-reset-seq {
			keyset = <KEY_VOLUMEDOWN KEY_VOLUMEUP>;
			timeout-ms = <3000>;
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <0>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&key_pins>;

		volume-up {
			label = "+";
			gpios = <&pfc 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			gpio-key,wakeup;
		};

		volume-down {
			label = "-";
			gpios = <&pfc 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
		};

		/* Code may be changed to KEY_HOME by setup-u2gpio_key.c */
		home_button: home {
			label = "Home";
			gpios = <&pfc 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOMEPAGE>;
			gpio-key,wakeup;
		};
	};

	bcm-bt-rfkill {
		compatible = "bcm,bcm-bt-rfkill";
		bcm-bt-rfkill-vreg-gpio = <&pfc 268 GPIO_ACTIVE_HIGH>;
		bcm-bt-rfkill-n-reset-gpio = <&pfc 15 GPIO_ACTIVE_LOW>;
	};

	wlan-sdio {
		compatible = "brcm,wlan-sdio";
		bcm-wlan-host-wake = <&pfc 98 GPIO_ACTIVE_HIGH>;
		bcm-wlan-reset = <&pfc 260 GPIO_ACTIVE_HIGH>;
	};


	backlight {
		compatible = "kinetic,ktd3102";
		max-brightness = <255>;
		default-brightness = <123>;
		gpios = <&pfc 47 GPIO_ACTIVE_HIGH>;
	};

	sound {
		compatible = "renesas,fsi-snd-d2153";
		renesas,fsia = <&fsia>;
		renesas,fsib = <&fsib>;
		renesas,mclk-freq = <13000000>;
		renesas,audio-routing =
			"RECCHL", "AIFOUTL",
			"RECCHR", "AIFOUTR",
			"AIFINL", "VCLK4",
			"AIFINR", "VCLK4",
			"AIFOUTL", "VCLK4",
			"AIFOUTR", "VCLK4",
			"Headphone Jack Left", "Headphone Left PGA",
			"Headphone Jack Right", "Headphone Right PGA",
			"Speaker", "Speaker PGA",
			"Earpiece", "Earpiece PGA";
	};
};

&lcdc {
	pname = "HX8389B";
	reset-gpio = <&pfc 31 GPIO_ACTIVE_LOW>;
	te-irq = <&pfc 27 GPIO_ACTIVE_HIGH>;
	esd-irq = <&pfc 6 GPIO_ACTIVE_HIGH>;
};

&rt {
	screen0 {
		renesas,mode = <0>; /* Video Mode */
	};
};

&lcdc2 {
	pname = "S6D78A0";
	reset-gpio = <&pfc 31 GPIO_ACTIVE_LOW>;
	te-irq = <&pfc 27 GPIO_ACTIVE_HIGH>;
	esd-irq = <&pfc 6 GPIO_ACTIVE_HIGH>;
};

&rt2 {
	screen0 {
		renesas,mode = <0>; /* video mode */
	};
};

&stm {
	ztr-clk-rate = <156000000>;
};

&pfc {
	hogs {
		unused-pins {
			renesas,groups = "i2c1h", "scifb3_data", "vio_cko5",
				"bsc_rd_we16", "bsc_cs0", "bsc_cs2", "bsc_cs4",
				"bsc_wait", "bsc_rdwr", "bsc_data16",
				"bsc_cko", "bsc_addr_0_10", "fsib_mclk_in",
				"sdhi2_data4", "sdhi2_ctrl", "sdhi0_wp";
			renesas,pins =
				"PORT4", "PORT21", "PORT26", "PORT27",
				"PORT36", "PORT44", "PORT46", "PORT104",
				"PORT140", "PORT141", "PORT142",
				"PORT198", "PORT199", "PORT202",
				"PORT275", "PORT276", "PORT277",
				"PORT311", "PORT312";
			bias-pull-down;
		};
	};

	key_pins: keys {
		renesas,pins = "PORT1", "PORT2", "PORT18";
		bias-pull-up;
	};
};

&mmcif {
	renesas,data-delay-ps = <500>; /* 500 picoseconds = 0.5 ns */
};
&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Accelerometer sensor */
	k2hh: k2hh@1d{
		compatible = "st,k2hh";
		/* slave address */
		reg = <0x1d>;
		orientation = /bits/ 8 <0x01 0x00 0x00
					0x00 0xFF 0x00
					0x00 0x00 0x01>;
		ACC_INT = <&pfc 109 GPIO_ACTIVE_HIGH>;
	};

	/* Compass sensor*/
	hscdtd008a: hscdtd008a@0c {
		compatible = "alps,hscdtd008a";
		/* slave address */
		reg = <0x0c>;
		orientation = /bits/ 8 <0x00 0x01 0x00
					0xFF 0x00 0x00
					0x00 0x00 0x01>;
	};

	/*Proximity sensor*/
	gp2ap002: gp2ap002@44 {
		compatible = "sharp,gp2ap002";
		/* slave address */
		reg = <0x44>;
		PROXI_INT = <&pfc 108 GPIO_ACTIVE_HIGH>;
	};
};

&i2c4 {
	touchscreen@24 {
		compatible = "cypress,cyttsp4";
		reg = <0x24>;
		tname = "Cypress-Afyon";
		gpios = <&pfc 32 GPIO_ACTIVE_HIGH>;
	};
};
